// theme: dark
$web-imgui-dark-Text:                     rgba(256.0, 256.0, 256.0, 1.00);
$web-imgui-dark-TextDisabled:             rgba(128.0, 128.0, 128.0, 1.00);
$web-imgui-dark-WindowBg:                 rgba(15.36, 15.36, 15.36, 0.94);
$web-imgui-dark-ChildBg:                  rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-dark-PopupBg:                  rgba(20.48, 20.48, 20.48, 0.94);
$web-imgui-dark-Border:                   rgba(110.08, 110.08, 128.0, 0.50);
$web-imgui-dark-BorderShadow:             rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-dark-FrameBg:                  rgba(40.96, 74.24, 122.88, 0.54);
$web-imgui-dark-FrameBgHovered:           rgba(66.56, 151.04, 250.88, 0.40);
$web-imgui-dark-FrameBgActive:            rgba(66.56, 151.04, 250.88, 0.67);
$web-imgui-dark-TitleBg:                  rgba(10.24, 10.24, 10.24, 1.00);
$web-imgui-dark-TitleBgActive:            rgba(40.96, 74.24, 122.88, 1.00);
$web-imgui-dark-TitleBgCollapsed:         rgba(0.0, 0.0, 0.0, 0.51);
$web-imgui-dark-MenuBarBg:                rgba(35.84, 35.84, 35.84, 1.00);
$web-imgui-dark-ScrollbarBg:              rgba(5.12, 5.12, 5.12, 0.53);
$web-imgui-dark-ScrollbarGrab:            rgba(79.36, 79.36, 79.36, 1.00);
$web-imgui-dark-ScrollbarGrabHovered:     rgba(104.96, 104.96, 104.96, 1.00);
$web-imgui-dark-ScrollbarGrabActive:      rgba(130.56, 130.56, 130.56, 1.00);
$web-imgui-dark-CheckMark:                rgba(66.56, 151.04, 250.88, 1.00);
$web-imgui-dark-SliderGrab:               rgba(61.44, 133.12, 225.28, 1.00);
$web-imgui-dark-SliderGrabActive:         rgba(66.56, 151.04, 250.88, 1.00);
$web-imgui-dark-Button:                   rgba(66.56, 151.04, 250.88, 0.40);
$web-imgui-dark-ButtonHovered:            rgba(66.56, 151.04, 250.88, 1.00);
$web-imgui-dark-ButtonActive:             rgba(15.36, 135.68, 250.88, 1.00);
$web-imgui-dark-Header:                   rgba(66.56, 151.04, 250.88, 0.31);
$web-imgui-dark-HeaderHovered:            rgba(66.56, 151.04, 250.88, 0.80);
$web-imgui-dark-HeaderActive:             rgba(66.56, 151.04, 250.88, 1.00);
//     colors[ImGuiCol_Separator]              = colors[ImGuiCol_Border];
$web-imgui-dark-SeparatorHovered:         rgba(25.6, 102.4, 192.0, 0.78);
$web-imgui-dark-SeparatorActive:          rgba(25.6, 102.4, 192.0, 1.00);
$web-imgui-dark-ResizeGrip:               rgba(66.56, 151.04, 250.88, 0.20);
$web-imgui-dark-ResizeGripHovered:        rgba(66.56, 151.04, 250.88, 0.67);
$web-imgui-dark-ResizeGripActive:         rgba(66.56, 151.04, 250.88, 0.95);
//     colors[ImGuiCol_Tab]                    = ImLerp(colors[ImGuiCol_Header],       colors[ImGuiCol_TitleBgActive], 0.80f);
//     colors[ImGuiCol_TabHovered]             = colors[ImGuiCol_HeaderHovered];
//     colors[ImGuiCol_TabActive]              = ImLerp(colors[ImGuiCol_HeaderActive], colors[ImGuiCol_TitleBgActive], 0.60f);
//     colors[ImGuiCol_TabUnfocused]           = ImLerp(colors[ImGuiCol_Tab],          colors[ImGuiCol_TitleBg], 0.80f);
//     colors[ImGuiCol_TabUnfocusedActive]     = ImLerp(colors[ImGuiCol_TabActive],    colors[ImGuiCol_TitleBg], 0.40f);
$web-imgui-dark-PlotLines:                rgba(156.16, 156.16, 156.16, 1.00);
$web-imgui-dark-PlotLinesHovered:         rgba(256.0, 110.08, 89.6, 1.00);
$web-imgui-dark-PlotHistogram:            rgba(230.4, 179.2, 0.0, 1.00);
$web-imgui-dark-PlotHistogramHovered:     rgba(256.0, 153.6, 0.0, 1.00);
$web-imgui-dark-TableHeaderBg:            rgba(48.64, 48.64, 51.2, 1.00);
$web-imgui-dark-TableBorderStrong:        rgba(79.36, 79.36, 89.6, 1.00);
$web-imgui-dark-TableBorderLight:         rgba(58.88, 58.88, 64.0, 1.00);
$web-imgui-dark-TableRowBg:               rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-dark-TableRowBgAlt:            rgba(256.0, 256.0, 256.0, 0.06);
$web-imgui-dark-TextSelectedBg:           rgba(66.56, 151.04, 250.88, 0.35);
$web-imgui-dark-DragDropTarget:           rgba(256.0, 256.0, 0.0, 0.90);
$web-imgui-dark-NavHighlight:             rgba(66.56, 151.04, 250.88, 1.00);
$web-imgui-dark-NavWindowingHighlight:    rgba(256.0, 256.0, 256.0, 0.70);
$web-imgui-dark-NavWindowingDimBg:        rgba(204.8, 204.8, 204.8, 0.20);
$web-imgui-dark-ModalWindowDimBg:         rgba(204.8, 204.8, 204.8, 0.35);

// theme: classic
$web-imgui-classic-Text:                  rgba(230.4, 230.4, 230.4, 1.00);
$web-imgui-classic-TextDisabled:          rgba(153.6, 153.6, 153.6, 1.00);
$web-imgui-classic-WindowBg:              rgba(0.0, 0.0, 0.0, 0.85);
$web-imgui-classic-ChildBg:               rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-classic-PopupBg:               rgba(28.16, 28.16, 35.84, 0.92);
$web-imgui-classic-Border:                rgba(128.0, 128.0, 128.0, 0.50);
$web-imgui-classic-BorderShadow:          rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-classic-FrameBg:               rgba(110.08, 110.08, 110.08, 0.39);
$web-imgui-classic-FrameBgHovered:        rgba(120.32, 120.32, 176.64, 0.40);
$web-imgui-classic-FrameBgActive:         rgba(107.52, 104.96, 163.84, 0.69);
$web-imgui-classic-TitleBg:               rgba(69.12, 69.12, 138.24, 0.83);
$web-imgui-classic-TitleBgActive:         rgba(81.92, 81.92, 161.28, 0.87);
$web-imgui-classic-TitleBgCollapsed:      rgba(102.4, 102.4, 204.8, 0.20);
$web-imgui-classic-MenuBarBg:             rgba(102.4, 102.4, 140.8, 0.80);
$web-imgui-classic-ScrollbarBg:           rgba(51.2, 64.0, 76.8, 0.60);
$web-imgui-classic-ScrollbarGrab:         rgba(102.4, 102.4, 204.8, 0.30);
$web-imgui-classic-ScrollbarGrabHovered:  rgba(102.4, 102.4, 204.8, 0.40);
$web-imgui-classic-ScrollbarGrabActive:   rgba(104.96, 99.84, 204.8, 0.60);
$web-imgui-classic-CheckMark:             rgba(230.4, 230.4, 230.4, 0.50);
$web-imgui-classic-SliderGrab:            rgba(256.0, 256.0, 256.0, 0.30);
$web-imgui-classic-SliderGrabActive:      rgba(104.96, 99.84, 204.8, 0.60);
$web-imgui-classic-Button:                rgba(89.6, 102.4, 156.16, 0.62);
$web-imgui-classic-ButtonHovered:         rgba(102.4, 122.88, 181.76, 0.79);
$web-imgui-classic-ButtonActive:          rgba(117.76, 138.24, 204.8, 1.00);
$web-imgui-classic-Header:                rgba(102.4, 102.4, 230.4, 0.45);
$web-imgui-classic-HeaderHovered:         rgba(115.2, 115.2, 230.4, 0.80);
$web-imgui-classic-HeaderActive:          rgba(135.68, 135.68, 222.72, 0.80);
$web-imgui-classic-Separator:             rgba(128.0, 128.0, 128.0, 0.60);
$web-imgui-classic-SeparatorHovered:      rgba(153.6, 153.6, 179.2, 1.00);
$web-imgui-classic-SeparatorActive:       rgba(179.2, 179.2, 230.4, 1.00);
$web-imgui-classic-ResizeGrip:            rgba(256.0, 256.0, 256.0, 0.10);
$web-imgui-classic-ResizeGripHovered:     rgba(199.68, 209.92, 256.0, 0.60);
$web-imgui-classic-ResizeGripActive:      rgba(199.68, 209.92, 256.0, 0.90);
//     colors[ImGuiCol_Tab]                    = ImLerp(colors[ImGuiCol_Header],       colors[ImGuiCol_TitleBgActive], 0.80f);
//     colors[ImGuiCol_TabHovered]             = colors[ImGuiCol_HeaderHovered];
//     colors[ImGuiCol_TabActive]              = ImLerp(colors[ImGuiCol_HeaderActive], colors[ImGuiCol_TitleBgActive], 0.60f);
//     colors[ImGuiCol_TabUnfocused]           = ImLerp(colors[ImGuiCol_Tab],          colors[ImGuiCol_TitleBg], 0.80f);
//     colors[ImGuiCol_TabUnfocusedActive]     = ImLerp(colors[ImGuiCol_TabActive],    colors[ImGuiCol_TitleBg], 0.40f);
$web-imgui-classic-PlotLines:             rgba(256.0, 256.0, 256.0, 1.00);
$web-imgui-classic-PlotLinesHovered:      rgba(230.4, 179.2, 0.0, 1.00);
$web-imgui-classic-PlotHistogram:         rgba(230.4, 179.2, 0.0, 1.00);
$web-imgui-classic-PlotHistogramHovered:  rgba(256.0, 153.6, 0.0, 1.00);
$web-imgui-classic-TableHeaderBg:         rgba(69.12, 69.12, 97.28, 1.00);
$web-imgui-classic-TableBorderStrong:     rgba(79.36, 79.36, 115.2, 1.00);
$web-imgui-classic-TableBorderLight:      rgba(66.56, 66.56, 71.68, 1.00);
$web-imgui-classic-TableRowBg:            rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-classic-TableRowBgAlt:         rgba(256.0, 256.0, 256.0, 0.07);
$web-imgui-classic-TextSelectedBg:        rgba(0.0, 0.0, 256.0, 0.35);
$web-imgui-classic-DragDropTarget:        rgba(256.0, 256.0, 0.0, 0.90);
//     colors[ImGuiCol_NavHighlight]           = colors[ImGuiCol_HeaderHovered];
$web-imgui-classic-NavWindowingHighlight: rgba(256.0, 256.0, 256.0, 0.70);
$web-imgui-classic-NavWindowingDimBg:     rgba(204.8, 204.8, 204.8, 0.20);
$web-imgui-classic-ModalWindowDimBg:      rgba(51.2, 51.2, 51.2, 0.35);

// theme: light
$web-imgui-light-Text:                    rgba(0.0, 0.0, 0.0, 1.00);
$web-imgui-light-TextDisabled:            rgba(153.6, 153.6, 153.6, 1.00);
$web-imgui-light-WindowBg:                rgba(240.64, 240.64, 240.64, 1.00);
$web-imgui-light-ChildBg:                 rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-light-PopupBg:                 rgba(256.0, 256.0, 256.0, 0.98);
$web-imgui-light-Border:                  rgba(0.0, 0.0, 0.0, 0.30);
$web-imgui-light-BorderShadow:            rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-light-FrameBg:                 rgba(256.0, 256.0, 256.0, 1.00);
$web-imgui-light-FrameBgHovered:          rgba(66.56, 151.04, 250.88, 0.40);
$web-imgui-light-FrameBgActive:           rgba(66.56, 151.04, 250.88, 0.67);
$web-imgui-light-TitleBg:                 rgba(245.76, 245.76, 245.76, 1.00);
$web-imgui-light-TitleBgActive:           rgba(209.92, 209.92, 209.92, 1.00);
$web-imgui-light-TitleBgCollapsed:        rgba(256.0, 256.0, 256.0, 0.51);
$web-imgui-light-MenuBarBg:               rgba(220.16, 220.16, 220.16, 1.00);
$web-imgui-light-ScrollbarBg:             rgba(250.88, 250.88, 250.88, 0.53);
$web-imgui-light-ScrollbarGrab:           rgba(176.64, 176.64, 176.64, 0.80);
$web-imgui-light-ScrollbarGrabHovered:    rgba(125.44, 125.44, 125.44, 0.80);
$web-imgui-light-ScrollbarGrabActive:     rgba(125.44, 125.44, 125.44, 1.00);
$web-imgui-light-CheckMark:               rgba(66.56, 151.04, 250.88, 1.00);
$web-imgui-light-SliderGrab:              rgba(66.56, 151.04, 250.88, 0.78);
$web-imgui-light-SliderGrabActive:        rgba(117.76, 138.24, 204.8, 0.60);
$web-imgui-light-Button:                  rgba(66.56, 151.04, 250.88, 0.40);
$web-imgui-light-ButtonHovered:           rgba(66.56, 151.04, 250.88, 1.00);
$web-imgui-light-ButtonActive:            rgba(15.36, 135.68, 250.88, 1.00);
$web-imgui-light-Header:                  rgba(66.56, 151.04, 250.88, 0.31);
$web-imgui-light-HeaderHovered:           rgba(66.56, 151.04, 250.88, 0.80);
$web-imgui-light-HeaderActive:            rgba(66.56, 151.04, 250.88, 1.00);
$web-imgui-light-Separator:               rgba(99.84, 99.84, 99.84, 0.62);
$web-imgui-light-SeparatorHovered:        rgba(35.84, 112.64, 204.8, 0.78);
$web-imgui-light-SeparatorActive:         rgba(35.84, 112.64, 204.8, 1.00);
$web-imgui-light-ResizeGrip:              rgba(89.6, 89.6, 89.6, 0.17);
$web-imgui-light-ResizeGripHovered:       rgba(66.56, 151.04, 250.88, 0.67);
$web-imgui-light-ResizeGripActive:        rgba(66.56, 151.04, 250.88, 0.95);
//     colors[ImGuiCol_Tab]                    = ImLerp(colors[ImGuiCol_Header],       colors[ImGuiCol_TitleBgActive], 0.90f);
//     colors[ImGuiCol_TabHovered]             = colors[ImGuiCol_HeaderHovered];
//     colors[ImGuiCol_TabActive]              = ImLerp(colors[ImGuiCol_HeaderActive], colors[ImGuiCol_TitleBgActive], 0.60f);
//     colors[ImGuiCol_TabUnfocused]           = ImLerp(colors[ImGuiCol_Tab],          colors[ImGuiCol_TitleBg], 0.80f);
//     colors[ImGuiCol_TabUnfocusedActive]     = ImLerp(colors[ImGuiCol_TabActive],    colors[ImGuiCol_TitleBg], 0.40f);
$web-imgui-light-PlotLines:               rgba(99.84, 99.84, 99.84, 1.00);
$web-imgui-light-PlotLinesHovered:        rgba(256.0, 110.08, 89.6, 1.00);
$web-imgui-light-PlotHistogram:           rgba(230.4, 179.2, 0.0, 1.00);
$web-imgui-light-PlotHistogramHovered:    rgba(256.0, 115.2, 0.0, 1.00);
$web-imgui-light-TableHeaderBg:           rgba(199.68, 222.72, 250.88, 1.00);
$web-imgui-light-TableBorderStrong:       rgba(145.92, 145.92, 163.84, 1.00);
$web-imgui-light-TableBorderLight:        rgba(174.08, 174.08, 189.44, 1.00);
$web-imgui-light-TableRowBg:              rgba(0.0, 0.0, 0.0, 0.00);
$web-imgui-light-TableRowBgAlt:           rgba(76.8, 76.8, 76.8, 0.09);
$web-imgui-light-TextSelectedBg:          rgba(66.56, 151.04, 250.88, 0.35);
$web-imgui-light-DragDropTarget:          rgba(66.56, 151.04, 250.88, 0.95);
//     colors[ImGuiCol_NavHighlight]           = colors[ImGuiCol_HeaderHovered];
$web-imgui-light-NavWindowingHighlight:   rgba(179.2, 179.2, 179.2, 0.70);
$web-imgui-light-NavWindowingDimBg:       rgba(51.2, 51.2, 51.2, 0.20);
$web-imgui-light-ModalWindowDimBg:        rgba(51.2, 51.2, 51.2, 0.35);
