$web-imgui-font-family: ProggyClean;
$web-imgui-font-size: 16px;
$web-imgui-shadow: 10px 10px 34px -13px rgba(0, 0, 0, 0.3);

// windows
$web-imgui-window-border-radius: 8px;
$web-imgui-window-border-width: 1px;

$web-imgui-window-default-width: 500px;
$web-imgui-window-default-height: 300px;

$web-imgui-window-title-bar-padding: 8px;

$web-imgui-window-content-padding: 8px;

// scrollbar
$web-imgui-scrollbar-width: 8px;
